@import "tailwindcss";

:root {
  /* Tailwind Custom Colors */
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-background: #fcfcfc;
  --color-gray-1: #666666;
  --color-gray-2: #aaaaaa;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

button {
  cursor: pointer;
}
