@import "tailwindcss";

:root {
  /* Tailwind Custom Colors */
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-background: #fcfcfc;
  --color-gray-1: #666666;
  --color-gray-2: #aaaaaa;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-gray-2);
}

#root {
  width: 400px;
  height: 100vh;
  background-color: var(--color-background);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}
